@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #eaecf0 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #eaecf0; /* Background color of the scrollbar */
  border-radius: 8px 0 0 0; /* Rounded corners for the scrollbar */
  opacity: 0.8; /* Adjust opacity */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}

/* Ensure scrollbar bar height is small */
.custom-scrollbar::-webkit-scrollbar-thumb {
  height: 10px !important; /* Height of the scrollbar thumb */
  border-radius: 8px 0 0 0; /* Rounded corners for the scrollbar thumb */
}

@media (max-width: 768px) {
  #ProductListContainer {
    width: 350px;
    margin-left: -15px;
  }
  #pID {
    height: 132px;
    width: 329px;
  }
  #image-container {
    width: 108px;
    height: 116px;
    margin-left: 10px;
  }

  #star {
    width: 83px;
    height: 22px;
    font-size: 10px;
  }

  #cat {
    font-size: 5px;
    margin-top: -8px;
  }

  #name {
    font-size: 11px;
    line-height: 11.8px;
    margin-top: 4px;
    font-weight: 600;
  }

  #descp {
    font-size: 8px;
    font-weight: 500;
  }
  .custom-scrollbar {
    overflow: hidden;
  }
  #price {
    font-size: 10px;
    font-weight: 700;
    margin-top: -10px;
  }
  #btn {
    position: absolute;
    top: 30px; /* Adjust as needed */
    left: 30px; /* Adjust as needed */
    background-color: white; /* Circle background color */
    color: black; /* Arrow color */
    border-radius: 50%; /* Circle shape */
    padding: 13px; /* Adjust padding to fit the button */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow for better visibility */
    z-index: 10; /* Ensure button is on top */
    border: 1px solid rgb(175, 175, 175);
  }

  #prodDetail {
    position: relative;
    z-index: 1;
  }
}
