@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #eaecf0 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #eaecf0; /* Background color of the scrollbar */
  border-radius: 8px 0 0 0; /* Rounded corners for the scrollbar */
  opacity: 0.8; /* Adjust opacity */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}

/* Ensure scrollbar bar height is small */
.custom-scrollbar::-webkit-scrollbar-thumb {
  height: 10px !important; /* Height of the scrollbar thumb */
  border-radius: 8px 0 0 0; /* Rounded corners for the scrollbar thumb */
}
